build/
*/build/
*.build/

*.exe
*.app
*.so
*.dll
*.dylib

*.pro.user
*.autosave

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

icons/

*.db
*.sqlite
*.sqlite3

.vscode/
.idea/
*.swp
*.swo

*.log